<footer class="bg-primary ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="mw5 mw7-ns center tc">

			<img src="/img/logo_no_text.png" alt="Raise Green logo" class="db w4 center mb4 br0">
			<!-- <p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p> -->
			<!-- <p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new projects.</p> -->

			{{ partial "newsletter-form" . }}

		</div>


		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 gold" >Raise Green, Inc</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/#about" class="link">About</a></li>
					<li><a href="/#team" class="link">Team</a></li>
					<li><a href="/post" class="link">Latest News</a></li>
					<li><a href="/#contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 gold">Find out more</h3>
				<ul class="mb3">
					<li><a href="/terms" class="link">Terms of Use</a></li>
					<!-- <li><a href="/contact" class="link">Schedule and appointment</a></li> -->
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 gold">Social media</h3>
				<ul class="mhn2">
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }} -->
					<div class="mw5 mw7-ns center tc">
					{{ partial "social-icon" (dict "link" "https://twitter.com/
						GreenInc" "svg" "icons-twitter") }}
				</div>
					<!-- {{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}  -->
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
