<div class="pv4 pv3-l ph3 bg-center cover">

  <div class="mw7 center ph3">

    <div class="db mb3">
      <img class="img" src="/img/logo_no_text.png" alt="My profile picture.">

      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6 bg-primary animated fadeIn">
        {{.title}}
        </h1>

      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6 bg-primary animated fadeIn">
        {{.subtitle}}
        </p>
        {{ end }}

      </div>

    </div>

  </div>
</div>
