<nav id="navbar" class="db w-100 flex justify-between items-center center bg-white  relative z-1 ">
  <a class="db v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="Home">
    <img src="/img/logo_no_text.png" class="dib w2 h2 br-100" alt="Site Name">
  </a>
  <ul class="flex b grey-3">
		<li><a href="#about" class="dim pa3 no-underline db">About</a></li>

		<li><a href="/team" class="dim pa3 no-underline db">Team</a></li>

		<li><a href="/board" class="dim pa3 no-underline db">Board</a></li>

		<li><a href="/projects" class="dim pa3 no-underline db">Projects</a></li>

    <li><a href="/blog" class="dim pa3 no-underline db">Blog</a></li>

	</ul>
</nav>
