<form action="" class="pa2 pa4-l">
  <form class="mw4 center br2-ns">
  <fieldset class="cf ma0 pa0">
    <legend class="pa0 f5 f4-ns mb2 black-80">Subscribe for updates:</legend>
    <div class="cf">
      <label class="clip" for="email-address">Email Address</label>
      <input class="f6 f5-l input-reset bn fl black-80 bg-white pa2  w-100 w-75-m w-80-l br2-ns br--left-ns" placeholder="Your Email Address" type="text" name="email-address" value="" id="email-address">
      <input class="f6 f5-l fl  bg-saffron pv2 tc  white pointer w-100 w-20-m w-20-l br2-ns br--right-ns" type="submit" value="Subscribe">

    </div>
  </fieldset>
</form>



  <!-- <fieldset class="db mb2 mb0-ns w-auto-ns" name="newsletter" action="newsletter-subscribe">
    <input type="text" id="email" placeholder="Your email" class="w-auto-ns ">
    <label for="email">Subscribe for updates</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Subscribe</button> -->
