

    <!-- fits the card -->
    <div class="team-card card-1 grow-large  pointer animated bg-primary white br4 ma1 pa1 h-50">
      <div class="fl w-20 pa2 dib mw5">
    <img src="{{ .image }}" class="w-100 br-100" title="" id="team-photo">
      </div>
      <div class="fl w-80 pa2 dib">
        <div>
          <h2 class="fw5 mb2">{{.name}} </h2>
          <h2 class="roles animated-long d2 fadeIn ease-out-circ">{{.role1}} </h2>
          <h3 class="roles animated-long d3 fadeIn ease-out-circ">{{.role2}} </h3>
          <p class="bio measure lh-copy animated fadeIn ease-out-quint d3 a1">
          {{ .text}}
          </p>
        </div>
      </div>

    </div>


<!-- <article class="cf">
  <div class="fl w-100 w-50-ns bg-near-white tc">
    <h1>Column One</h1>
  </div>
  <div class="fl w-100 w-50-ns bg-light-gray tc">
    <h1>Column Two</h1>
  </div>
</article> -->
