/* brand colors*/


	.warmwhite {
    color: var(--warmwhite);
  }
	.half-baked {
    color: var(--half-baked);
  }
	.forest-green {
    color: var(--forest-green);
  }
	.saffron {
    color: var(--saffron);
  }
	.mirage {
    color: var(--mirage);
  }

  .bg-warmwhite {
    background-color: var(--warmwhite);
  }
  .bg-half-baked {
    background-color: var(--half-baked);
  }
  .bg-forest-green {
    background-color: var(--forest-green);
  }
  .bg-saffron {
    background-color: var(--saffron);
  }
  .bg-mirage {
    background-color: var(--mirage);
  }


/* animations */

.animated-shadow {
  cursor: pointer;
  position: relative;
  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.animated-shadow:after {
  content: '';
  box-shadow: 0 1px 4px 0 #aaa;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animated {
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

/* .content {
  padding: 16px;
} */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


.sticky {
  position: sticky;
}

@media screen and (min-width: 30em) {
  .sticky-ns {
    position: sticky;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .sticky-m {
    position: sticky;
  }
}

@media screen and (min-width: 60em) {
  .sticky-l {
    position: sticky;
  }
}


body {
   -webkit-font-smoothing: antialiased;
}
