/* brand colors*/


	.warmwhite {
    color: var(--warmwhite);
  }
	.half-baked {
    color: var(--half-baked);
  }
	.forest-green {
    color: var(--forest-green);
  }
	.saffron {
    color: var(--saffron);
  }
	.mirage {
    color: var(--mirage);
  }

  .bg-warmwhite {
    background-color: var(--warmwhite);
  }
  .bg-half-baked {
    background-color: var(--half-baked);
  }
  .bg-forest-green {
    background-color: var(--forest-green);
  }
  .bg-saffron {
    background-color: var(--saffron);
  }
  .bg-mirage {
    background-color: var(--mirage);
  }


	/* animations */

	.animated-shadow {
	  cursor: pointer;
	  position: relative;
	  transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	.animated-shadow:after {
	  content: '';
	  box-shadow: 0 1px 4px 0 #aaa;
	  opacity: 0;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  z-index: -1;
	  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	/* .animated {
	   -webkit-animation-duration: 2s;
	   animation-duration: 2s;
	   -webkit-animation-fill-mode: both;
	   animation-fill-mode: both;
	} */

	.animated-long {
	   -webkit-animation-duration: 3s;
	   animation-duration: 3s;
	   -webkit-animation-fill-mode: both;
	   animation-fill-mode: both;
	}

	.animated-longer {
	   -webkit-animation-duration: 5s;
	   animation-duration: 5s;
	   -webkit-animation-fill-mode: both;
	   animation-fill-mode: both;
	}




	/* @-webkit-keyframes fadeIn {
	   0% {opacity: 0;}
	   100% {opacity: 1;}
	}

	@keyframes fadeIn {
	   0% {opacity: 0;}
	   100% {opacity: 1;}
	}

	.fadeIn {
	   -webkit-animation-name: fadeIn;
	   animation-name: fadeIn;
	} */

	#navbar a.active {
	  /* background-color: #4CAF50;
	  color: white; */
	}


	.sticky {
	  position: fixed;
	  top: 0;
	  width: 100%;
	}

	.sticky + .content {
	  padding-top: 60px;
	}


	.sticky {
	  position: sticky;
	}

	@media screen and (min-width: 30em) {
	  .sticky-ns {
	    position: sticky;
	  }
	}

	@media screen and (min-width: 30em) and (max-width: 60em) {
	  .sticky-m {
	    position: sticky;
	  }
	}

	@media screen and (min-width: 60em) {
	  .sticky-l {
	    position: sticky;
	  }
	}


	body {
	   -webkit-font-smoothing: antialiased;

	}

	.team-card {
	overflow: hidden;
	}

	.bio {
	    display: none;
			max-height: 0px;
			height: 0px;
	}

	.team-card:hover .bio {
	    display: inherit;
			height: auto;
			width:auto;
			max-height: 250px;
	}

	.team-card:hover .roles {
	    display: none;
	}

	.clip-circle {
	  clip-path: circle(80px at center);
	}

	.clip-rectangle {
		/* values are from-top, from-right, from-bottom, from-left */
	clip-path: inset(5% 5% 5% 5%);
	}


	.people-photo {
	object-fit: contain;
	}

	/* resize images */
	/* .img-container img {
	    width: 100%;
	    height: auto;
	} */


	.card {
	  background: #fff;
	  border-radius: 2px;
	  display: inline-block;
	  height: 300px;
	  margin: 1rem;
	  position: relative;
	  width: 300px;
	}

	.card-1 {
	  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	.card-1:hover {
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	.card-2 {
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	.card-3 {
	  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	.card-4 {
	  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

	.card-5 {
	  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	}
