{{ define "main" }}

<div class="cover bg-left bg-center-l bg-primary white" style="background-image: url()">
  <div class="mw5 mw7-ns center tc">
    {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }} {{ partial "newsletter-form" . }}
  </div>
</div>



{{ partial "nav" . }}
<section id="about">
  {{ partial "short-text" .Params.blurb}}
</section>
<section id="mission">
<section id="projects">
   {{ partial "2-up" .Params }}
</section>
</section>


<div class="bg-saffron">
  <section id="contact" class="center cf pt4 pb2 mw8 center">
  <div class="mhn1-l ph3 center mw7">

      <h2 class="f2 b lh-title mb2">Contact</h2>

        {{ partial "contact-form" . }}


  </div>
      </section>
</div>


<section id="team" class="cf pt4 pb2 mw8 center">
  <div class="mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2">Our Team</h2>
    {{ with .Site.GetPage "section" "people" }}
    <!-- {{ printf "%#v" .Params.people }} -->
    {{ range $index, $element := .Params.people}}
    <!-- {{ printf "%#v" $element }} -->
    {{ partial "team-card" (dict "name" $element.name "text" $element.text "image" $element.imageUrl)}}
    {{ end }}
    {{ end }}
  </div>
</section>



<section id="board" class="bg-half-baked">
<!-- {{ partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") }} -->
</div>

<section id="blog">
{{ partial "blog" . }}
</section>



{{ end }}
